{% load i18n %}
<div class="row">
	<div class="success callout display_for_success" data-closable id="response_expense">
		<p class="text-center">{% trans "Expense is updated" %}</p>
	</div>
	<div class="alert callout display_for_success" data-closable id="error_update_expense">
		<p class="text-center"><i class="fi-alert red-color"></i> {% trans "Expense isn't updated" %} <i class="fi-alert red-color"></i></p>
	</div>
	<form action="" method="post" id="updateExpenseSend" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<p class="text-center">
			<input type="submit" class="button" value="{% trans "Submit" %}">
		</p>
	</form>
</div>
<button class="close-button" onclick="reloadPage()" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
</button>

	<script type="text/javascript">
		$(function(){
			$('#id_date_expense').fdatepicker({
				format: 'dd/mm/yyyy',
				disableDblClickSelection: true,
				language: navigator.language
			});
		});
	</script>

	<script type="text/javascript">
		$( '#updateExpenseSend' )
			.submit( function( e ) {
				$.ajax( {
					success:  function(resp) {
						$("#response_expense").show();
						setTimeout(function() {
							$("#response_expense").hide();
							$('#updateExpenseSend')[0].reset();
						}, 3000 );
					},
					error : function(xhr) {
						$("#error_update_expense").show();
						setTimeout(function() {
							$("#error_update_expense").hide();
						}, 4000 );
					},
					url: '{% url 'expense-update' expense.id %}',
					type: 'POST',
					data: new FormData( this ),
					processData: false,
					contentType: false
				} );
				e.preventDefault();
				
			} );
	</script>
	
	<script type="text/javascript">
		function reloadPage() {
			location.reload();
		}
	</script>
	
