{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans "Expense List" %}{% endblock %}

{% block content %}

	<div class='row margin-bottom margin-top'>
		<div class='small-6 columns'>
			<p class="text-center show-for-medium"><button class='button' onClick="addExpense()">{% trans "Add an expense" %} <i class="fi-plus"></i></button></p>
			<p class="text-center hide-for-medium"><button class='button' onClick="addExpense()"><i class="fi-plus"></i></button></p>
		</div>
		{% if expenses %}	
		<div class='small-4 columns'>
			<p class="text-center show-for-medium"><a class='button' href="{% url 'print-expense-list' %}" target="_blank"><i class="fi-page-pdf"></i> {% trans "Export to pdf" %}</a></p>
			<p class="text-center hide-for-medium"><a class='button' href="{% url 'print-expense-list' %}" target="_blank"><i class="fi-page-pdf"></i></a></p>
		</div>
		{% endif %}
	</div>

{% if expenses %}
<div class='row margin-bottom margin-top'>
        <table>
                <thead>
                        <tr>
                                <th class='text-center'>{% trans "Date" %}</th>
                                <th class='text-center'>{% trans "Third Party" %}</th>
                                <th class='text-center'>{% trans "Amount" %}</th>
				<th class='text-center'>{% trans "Payment Mode" %}</th>
				<th class='text-center'>{% trans "Notes" %}</th>
                        </tr>
                </thead>
                <tbody>
                        {% for expense in expenses %}
                                <tr>
                                        <td class='text-center'>{{ expense.date_expense }}</td>
					<td class='text-center'>{{ expense.third_party }}</td>
					<td class='text-center'>{{ expense.amount }}</td>
					<td class='text-center'>{{ expense.payment_mode }}</td>
					<td class='text-center'>{{ expense.notes }}</td>
                                </tr>
                        {% endfor %}
                </tbody>
        </table>
</div>
{% else %}
        <h1 class=" text-center subheader">{% trans "You don't have any expenses ! Go out ! ;)" %}</h1>
{% endif %}

	<div class="reveal" id="addExpenseForm" data-reveal data-multiple-opened="true">
	</div>

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		function addExpense() {
			$.ajax('{% url 'expense-create' %}')
			.done(function(resp){
				$("#addExpenseForm").html(resp).foundation('open');
			});
		}
	</script>
{% endblock %}